/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, h1, h2, h3, h4, p, a, img, ol, ul, li, form, label, caption, figure, footer, header, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
figure, footer, header, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}

/* micro clear fix */
.grouping:before,
.grouping:after {
	content:" ";
	display:table;
}

.grouping:after {
	clear:both;
}

img, iframe, video, object {
	max-width: 100%;
}

/****************/
/*** CONTENT ****/
/****************/

body {
	font-family: 'Playfair Display', serif;
	text-align: center;
	color: #f7f7f7;
}

.wrapper {
	max-width: 100%;
	overflow-x: hidden;
	height: 100vh;
	position: relative;
}

.content {
	position: relative;
}

.title {
	max-width: 90%;
	height: 250px;
	margin: 15% auto;
	background-color: #F1BBAB;
	box-shadow: 1px 1px 2px #909090;
}

h1 {
	color: #909090;
	font-size: 2em;
	letter-spacing: 0.9px;
	margin-top: 10%;
}

h2 {
	color: #909090;
	font-size: 1.5em;
	letter-spacing: 0.9px;
}

.quote {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	max-width: 90%;
	overflow-x: hidden;
	border: none;
	box-shadow: -1px -1px 2px black;
}

.quote > img {
	margin: 0 auto;
}

button {
	background-color: #F1BBAB;
	color: #f7f7f7;
	border: none;
	box-shadow: 1px 1px 2px #909090;
	font-size: 1.1em;
	font-family: 'Playfair Display', serif;
}

footer {
	background-color: #909090;
	width: 100%;
	position: absolute;
	bottom: 0;
}

.attr {
	color: #f7f7f7;
	text-decoration: none;
	cursor: pointer;
}






